.propos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propos-collapses {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .propos-collapses {
    width: 90%;
  }
}
