.logement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logement-slideshow-container {
  width: 90%;
  height: 415px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logement-top {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logement-top-left h1 {
  color: #ff6060;
  font-size: 34px;
  font-weight: 500;
  margin-top: 0px;
}

.logement-location {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tags {
  display: flex;
}

.tag {
  margin-right: 15px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 25px;
  background-color: #ff6060;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-infos {
  display: flex;
  flex-direction: column-reverse;
}

.firstname-lastname {
  margin-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: end;
}

.logement-top-right p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.stars {
  margin-top: 15px;
  min-width: 175px;
}

.stars svg {
  margin: 5px;
}

.logement-top-right img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.name-picture {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logement-collapses {
  width: 90%;
  display: flex;
}

.collapse-left {
  width: 100%;
  margin-right: 2.5%;
}

.collapse-right {
  width: 100%;
  margin-left: 2.5%;
}

.txt-equipements {
  margin: 3px;
}

@media only screen and (max-width: 600px) {
  .logement-slideshow-container {
    height: 255px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .logement-top {
    flex-direction: column;
    margin-bottom: 0;
  }
  .logement-top-right {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .logement-top-right p {
    font-size: 12px;
  }

  .logement-top-right img {
    width: 32px;
    height: 32px;
  }

  .logement-top-left h1 {
    font-size: 18px;
  }

  .logement-location {
    font-size: 14px;
  }

  .tag {
    font-size: 10px;
  }

  .host-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .stars svg {
    width: 18px;
  }

  .logement-collapses {
    flex-direction: column;
  }

  .collapse-left {
    margin-right: 0%;
  }

  .collapse-right {
    margin-left: 0%;
  }
}
