.error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.error-container h1 {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
  margin-top: 200px;
  margin-bottom: 50px;
}

.error-container p {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 100px;
  text-align: center;
}

.error-button {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .error-container h1 {
    font-size: 96px;
  }

  .error-container p {
    font-size: 18px;
    margin-bottom: 200px;
  }

  .error-button {
    font-size: 14px;
  }
}
