.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.header-container img {
  height: 68px;
  margin-left: 5%;
}

.header-nav {
  font-size: 24px;
  margin-right: 5%;
}

.header-button {
  color: #ff6060;
  text-decoration: none;
  font-weight: 500;
}

.button-right {
  margin-left: 50px;
}

nav .active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .header-container {
    margin-top: 20px;
  }

  .header-container img {
    width: 145px;
  }

  .header-nav {
    font-size: 12px;
  }

  .button-right {
    margin-left: 20px;
  }
}
