.footer-container {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-container img {
  width: 122px;
}

.footer-container p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 520px) {
  .footer-container p {
    font-size: 12px;
  }
}
